node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

phase1/
out/
ValidAgreementId/
ValidAgreementSignatureInsert/*
AgreementIdChecker/
ValidAgreementPage/
ValidParticipant/
ValidVerifiedParticipant/
ValidVerifiedParticipantData/
ValidDocumnetVerifierInsert/*
ValidDocumentId/
ValidDocumentIdPart/
ValidDocumentPage/*
ValidDocumentParticipantInsert/*
ProofOfSignature/*
ProofOfAgreement/*

sig.js
tree.js
